<div class="container" ng-app="QuoraClone" ng-controller="topicsController" ng-init="init()">

  <div class="alert alert-danger" ng-show="error != null">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error!</strong> {{error}}
  </div>  

  <div class="alert alert-success" ng-show="success != null">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{success}}</strong>
  </div>  


  <div class="row well">
    <div class="col-sm-10">
      <h3><a href="" ng-click="redirectToTopic(topic.id)" >{{topic.title.capitalize()}}</a></h3>
      <p ng-show="topic.description != null"><strong>Description: </strong>{{topic.description}}</p>
    </div>
    <div class="col-sm-1">
      <p class="right-button" ng-show="doesUserFollow(topic.id)"><button type="button" ng-click="followTopic(topic.id)" class="btn btn-primary pull-right">Follow</button></p>
    </div>
  </div>

  <div class="well" ng-show="topic.questions.length == 0">
  <h3>No Questions in this topic</h3>
  </div>

  <div ng-show="topic.questions.length != 0">
    <br>
    <p><strong>{{topic.questions.length}} Questions</strong></p>
    <div class="well" ng-repeat="question in topic.questions">
      <h3><a href="" ng-click="redirectToQuestion(question.id)" >{{question.title}}</a></h3>
      <p ng-show="question.description != null"><strong>Description: </strong>{{question.description}}</p>
      <p><strong>Answers: </strong>{{question.answers.length}}</p>
      <p><strong>Topics: </strong>{{question.topics.length}}
      <p ng-show="question.votes != null"><strong>Votes: </strong>{{question.votes}}
      <p><strong>Asked By: </strong><a href="" ng-click="showUser(question.user.id)">{{question.user.first_name}}</a> <strong> on </strong>{{question.updated_at | date: 'medium'}}</p>    
    </div>
  </div>

  </div>
</div>